@using AngelusTBlog.Enums
@using AngelusTBlog.Models
@using AngelusTBlog.Services
@using AngelusTBlog.ViewModel
@using Microsoft.AspNetCore.Identity

@inject IImageService imageService
@inject UserManager<BlogUser> userManager
@model Post



@{
    ViewData["Title"] = "Details";
}

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-content">
                        <h1 class="text-center">@Model.Title</h1>
                        <div class="entry-meta text-center">
                            <ul>
                                <li>Posted On:  @Model.Created.ToString("MMM dd, yyyy")</li>
                                <li>Posted By:  @Model.Author.FirstName</li>
                            </ul>
                        </div>

                        <div class="article-image rounded m-auto text-center">
                            <img src="@imageService.DecodeImage(@Model.ImageData , @Model.ImageType)" alt="@Model.Image">
                        </div>

                        <br />

                        <!-- Start Main Content -->
                        @Html.Raw(@Model.Content)
                        <!-- End Main Content -->

                        <br />

                    </div>

                    <!-- Comment Area -->
                    <div class="comments-area">
                        <h3 class="comments-title" id="commentsSection">@Model.Comments.Count: Comments</h3>

                        @foreach (var comment in Model.Comments)
                        {
                            <ol class="comment-list">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img class="avatar" src="@imageService.DecodeImage(comment.Author.BlogUserImage, comment.Author.ContentType)" />
                                                <b class="fn font-weight-bold">@comment.Author.FirstName</b>
                                                <span class="says">says:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                @if (comment.Moderated is not null)
                                                {
                                                    <span class="says">
                                                        <span class="font-weight-bolder">
                                                            Moderated  <span class="text-danger">@comment.ModerationType.ToString().ToLower()</span>
                                                        </span>
                                                        : @comment.Moderated?.ToString("MMM dd, yyyy")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <span>@comment.Created.ToString("MMM dd, yyyy")</span>
                                                    </a>
                                                }
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            @if (string.IsNullOrEmpty(comment.CommentBody))
                                            {
                                                <span class="small font-italic">Comment not available...</span>
                                            }
                                            else if (comment.Moderated is not null)
                                            {
                                                <p>@Html.Raw(@comment.ModeratedCommentBody)</p>
                                            }
                                            else if (comment.Deleted is null)
                                            {
                                                <p>@Html.Raw(@comment.CommentBody)</p>
                                            }

                                        </div>
                                        <div class="row">

                                            <!-- Edit Comment -->
                                            @if (comment.Moderated is null && comment.Deleted is null && comment.AuthorID == userManager.GetUserId(User))
                                            {
                                                <div class="reply col-1">
                                                    <a class="comment-reply-link" data-bs-toggle="modal" data-bs-target="#editModal_@comment.Id">Edit</a>
                                                </div>
                                            }
                                            <!-- Modorate Comment -->
                                            @if (User.IsInRole(BlogRoles.Moderators.ToString()) && comment.Deleted is null || User.IsInRole(BlogRoles.Administrator.ToString()) && comment.Deleted is null)
                                            {
                                                <div class="reply col-1">
                                                    <a class="comment-reply-link" data-bs-toggle="modal" data-bs-target="#moderateModal_@comment.Id">
                                                        Moderate
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    @*<ol class="children">
                                        <li class="comment">
                                        <div class="comment-body">
                                        <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                        <img src="~/img/blog-details/comment-img-2.jpg" class="avatar" alt="image">
                                        <b class="fn">Karl Mekar</b>
                                        <span class="says">says:</span>
                                        </div>

                                        <div class="comment-metadata">
                                        <a href="#">
                                        <span>Jun  24, 2020 at 10:59 am</span>
                                        </a>
                                        </div>
                                        </footer>

                                        <div class="comment-content">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
                                        </div>

                                        <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>
                                        </div>
                                        </div>
                                        </li>
                                        </ol>*@
                                </li>
                            </ol>

                            <!-- Editing Comment Modal -->
                            <div class="modal" id="editModal_@comment.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Edit Comment</h4>
                                        </div>

                                        <!-- Modal body -->
                                    <form asp-controller="Comments" asp-action="Edit" class="modal-body mx-3">
                                            @Html.Hidden("Id", comment.Id)

                                            <div class="md-form mb-2">
                                                <label class="control-label">Original Comment</label>
                                                <textarea name="commentBody" class="form-control" required>@Html.Raw(@comment.CommentBody)</textarea>
                                            </div>

                                            <div class="reply col-1">
                                                <button class="default-btn btn-two" type="submit">Save</button>
                                            </div>
                                        </form>

                                        <!-- Modal Fotter -->
                                    <div class="modal-footer">
                                            <button class="default-btn btn-two" type="button" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Moderate Comment Modal -->
                            <div class="modal" id="moderateModal_@comment.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">ModeRate Comment</h4>
                                        </div>

                                        <!-- Modal body -->
                                    <form asp-action="Moderate" asp-controller="Comments" class="modal-body mx-3">
                                            @Html.Hidden("Id", comment.Id)
                                            @Html.Hidden("CommentBody", comment.CommentBody)

                                            <div class="form-group md-form mb-2">
                                                <label class="control-label">Original Comment</label>
                                                <textarea aria-label="Disabled input example" disabled class="form-control">@comment.CommentBody></textarea>
                                            </div>
                                            <div class="form-group md-form mb-2">
                                                <label class="control-label">Moderate Comment</label>
                                                <textarea name="ModeratedCommentBody" class="form-control" required>@comment.ModeratedCommentBody</textarea>
                                            </div>
                                            <div class="form-group md-form mb-2">
                                                <label class="control-label">Reason for Moderation</label>
                                                <select asp-for="@comment.ModerationType" name="ModerationType" asp-items="@Html.GetEnumSelectList<ModerationType>()" class="form-control" required>@comment.CommentBody</select>
                                            </div>

                                            <div class="form-group reply col-1">
                                                <button class="default-btn btn-two mt-4" type="submit">Save</button>
                                            </div>
                                        </form>

                                        <!-- Modal Fotter -->
                                    <div class="modal-footer">
                                            <button class="default-btn btn-two" type="button" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />

                        <!-- Write Comments -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Leave a Comment</h3>

                                <form asp-controller="Comments" asp-action="Create" method="post" class="comment-form">
                                    @Html.Hidden("PostId", Model.Id)
                                    <p class="comment-form-comment">
                                        <label>Comment</label>
                                        <textarea name="commentBody" cols="45" rows="5" maxlength="65525"></textarea>
                                    </p>
                                    <p class="form-submit">
                                        <input type="submit" class="submit" value="Post A Comment">
                                    </p>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="comment-body border-none text-center m-auto">
                                <div class="reply">
                                    <a class="comment-reply-link" asp-area="identity" asp-page="/account/login"><h5>Login To leave a comment</h5></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-5">
                <aside class="widget-area" id="secondary">

                    <div class="col-lg-12 col-md-12 m-auto">
                        <aside class="widget-area text-center" id="secondary">

                            <!-- Tags -->
                            <section class="widget widget_tag_cloud">
                                <h3 class="widget-title">Tags</h3>
                                <div class="post-wrap">
                                    <div class="tagcloud">
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <a asp-action="Tags" asp-route-tag="@tag.Text">#@tag.Text</a>
                                        }
                                    </div>
                                </div>
                            </section>
                        </aside>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Edit 2" asp-route-slug="@Model.Slug">Edit</a>
        <a asp-action="Index">Back to List</a>
    </div>
}



@section Scripts {





<!-- Tags JS -->
<script src="~/js/tags.js"></script>

}
<script> let tagValues = "@ViewData["TagValues"]"; </script>